@font-face {
  font-family: "montserrat-regular";
  src: url("../font/Montserrat/static/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserrat-medium";
  src: url("../font/Montserrat/static/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "montserrat-semibold";
  src: url("../font/Montserrat/static/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../font/Montserrat/static/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
body {
  background-image: url("../images/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-color: #F0E0FF;
  position: fixed;
  width: 100%;
}

h1 {
  font-family: "montserrat-bold";
  font-size: 40px;
}

h2 {
  font-family: "montserrat-bold";
  font-size: 20px;
  padding: 28px 0 28px 90px;
}
@media (max-width: 412px) {
  h2 {
    font-size: 32px;
    padding: 32px 0 24px 16px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  font-family: "montserrat-regular";
  color: #0D0D0D;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.12px;
  display: inline-flex;
  padding: 8px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 412px) {
  li {
    padding: 16px;
  }
}

header img {
  height: 56px;
  width: 255px;
}

.welcome {
  display: grid;
  grid-row: auto;
  row-gap: 24px;
  padding-left: 90px;
}
@media (max-width: 412px) {
  .welcome {
    display: grid;
    grid-row: auto;
    row-gap: 24px;
    padding-top: 40px;
    padding-inline: 16px;
  }
}

.welcome-cuerpo {
  display: flex;
  flex-direction: column;
  padding-left: 94px;
  gap: 24px;
}
@media (max-width: 412px) {
  .welcome-cuerpo {
    display: flex;
    flex-direction: column;
    padding: 16px 0 0 16px;
    gap: 52px;
  }
}

.texto-bienvenida {
  display: flex;
  width: 50%;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}
@media (max-width: 412px) {
  .texto-bienvenida {
    font-family: "montserrat-semibold";
    display: flex;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
  }
}

.resume-p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 726px;
  height: 100%;
  margin: 0 auto;
}

.experience-title {
  font-family: "montserrat-medium";
  font-size: 16px;
  text-align: center;
}

p {
  font-family: "montserrat-regular";
  font-size: 14px;
}

.aboutme-foto {
  width: 320px;
  height: 320px;
}

.button-link {
  display: inline-block;
  background-color: #D9CCE5;
  border-radius: 1000px;
  color: #0D0D0D;
  font-family: "montserrat-semibold";
  width: 163px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  font-size: 12px;
  text-decoration: none;
}
@media (max-width: 412px) {
  .button-link {
    width: 160px;
  }
}

.botones-inicio {
  display: flex;
  gap: 24px;
}
@media (max-width: 412px) {
  .botones-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.botones-contact {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
  justify-content: center;
  align-content: center;
  gap: 24px;
}

.boton-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9CCE5;
  border: none;
  border-radius: 2px;
  color: #0D0D0D;
  font-family: "montserrat-semibold";
  width: 350px;
  height: 104px;
  text-align: center;
  font-size: 20px;
}

.projects-img {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 538px 538px;
  grid-template-rows: 320px 320px;
  gap: 24px;
}
@media (max-width: 412px) {
  .projects-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

.aboutme-content {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

footer {
  background-color: #F0E0FF;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  justify-content: start;
}

.footer-item {
  font-size: 12px;
}

footer img {
  height: 104px;
  width: 255px;
}

/*# sourceMappingURL=styles.css.map */
